@import url("https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif; }
}

body {
    @apply overflow-x-hidden;
    background-color: rgb(245 245 244);
    background-image: url('/public/img/peakpx.jpg');
    background-position: 50% 50%; /* Move image to the center */
}

